:root
{
    --unicorn-navigation-js-identifier: 'true';
    --unicorn-navigation-padding: 2rem 10%;
    --unicorn-navigation-font: 'Roboto', sans-serif;
    --unicorn-navigation-font-color: #000;
    --unicorn-navigation-background: #fff;
    --unicorn-navigation-border-color: #e2e2e2;
}

nav.unicorn-navigation,
nav.unicorn-navigation *
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav.unicorn-navigation
{
    font-family: var(--unicorn-navigation-font);
    color: var(--unicorn-navigation-font-color);
    background: var(--unicorn-navigation-background);
    padding: var(--unicorn-navigation-padding);

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid var(--unicorn-navigation-border-color);

    z-index: 1000;
}

.unicorn-mobile-controll
{
    height: 3rem;
    width: 3rem;

    background: transparent;
    border: none;
    cursor: pointer;

    display: none;

    z-index: 1000;
}

    .unicorn-mobile-controll svg
    {
        width: 100%;
        height: 100%;
    }

    nav.unicorn-navigation h1.logo
    {
        cursor: pointer;
        font-size: 1.5rem;

        z-index: 1000;
    }

    nav.unicorn-navigation img.logo
    {
        cursor: pointer;
        height: 2rem;

        z-index: 1000;
    }

    nav.unicorn-navigation ul
    {
        list-style: none;
        display: flex;
    }

        nav.unicorn-navigation ul a
        {
            display: flex;

            text-decoration: none;
            color: var(--unicorn-navigation-font-color);
            font-weight: 300;

            padding: 1rem 2rem;
        }

            nav.unicorn-navigation ul a.active,
            nav.unicorn-navigation ul a:hover
            {
                font-weight: 600;
            }


@media screen and (max-width: 950px)
{
    .unicorn-mobile-controll
    {
        display: block;
    }

    nav.unicorn-navigation ul
    {
        z-index: 900;

        position: fixed;
        top: 0;
        right: 100%;
        height: 100vH;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: #fff;

        transition: right 0.5s ease;
    }

        nav.unicorn-navigation.show ul
        {
            right: 0;
        }
}