
:root
{
    --unicorn-nav-padding: 1rem 10%;
}


header.unicorn-nav
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--unicorn-nav-padding);
}

    header.unicorn-nav .logo
    {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
    }

    header.unicorn-nav ul
    {
        display: flex;
        list-style: none;
        align-items: center;
        gap: 1rem;
    }

        header.unicorn-nav li a
        {
            color: #333;
            text-decoration: none;;
        }